@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 251 15% 21%;

        --card: 0 0% 100%;
        --card-foreground: 251 15% 21%;
        --popover: 0 0% 100%;
        --popover-foreground: 251 15% 21%;

        --bw: 0 0% 100%;
        --bw-foreground: 0 0% 0%;

        --inactive: 0 0% 45%;
        --inactive-foreground: 0 0% 45%;

        --paper: 225 36.36% 95.69%;
        --paper-dark: 221.82 37.93% 82.94%;
        --paper-foreground: 0 0% 100%;

        --primary: 248 77% 60%;
        --primary-foreground: 0 0% 100%;

        --secondary: 152 70% 43%;
        --secondary-foreground: 0 0% 100%;

        --accent: 223 28% 85%;
        --accent-foreground: 251 15% 21%;

        --info: 221.2 83.2% 53.3%;
        --info-foreground: 210 40% 98%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --border: 220 13% 91%;
        --input: 221 39% 83%;
        --ring: 221 39% 83%;
        --radius: 0.3rem;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        // --primary: 152 96% 28%;
        --primary: 129 41% 46%;
        --primary-foreground: 0 0% 5%;
        --bw: 0 0% 5%;
        --bw-foreground: 0 0% 100%;
        --inactive: 0 0% 45%;
        --inactive-foreground: 0 0% 45%;
        // --secondary: 210 49% 61%;

        --secondary: 188 45% 54%;
        --secondary-foreground: 0 0% 15%;
        --paper: 0 0% 10%;
        --paper-foreground: 210 20% 98%;
        --info: 217.2 91.2% 59.8%;
        --info-foreground: 222.2 47.4% 11.2%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}

* {
    box-sizing: border-box;
}
